body{
    background-color: #E2BFB3;
    color: black;
}
.container{
    background-color:#D6DAC8 ;
    max-width: 600px;
    margin:10vh auto 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 43px 17px #9CAFAA;
}
#display{
    text-align: right;
    height: 80px;
    line-height: 80px;
    padding: 20px 10px ;
}

.buttons{
    display: grid;
    border-bottom: 1px solid#999;
    border-left: 1px solid#999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-top: 1px solid#999;
    border-right:1px  solid#999;
} 
/* .buttons > div{ 
    border-top: 1px solid#999;
    border-right:1px  solid#999;
} */
.button{
    border: 0.5px solid#999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    border-radius: 4px;
    background-color:;
}
#equal{
    background-color:#424C55;
    color:white;
}
.button:hover{
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;

}